
.container-wrapper{
    margin-left: 5%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    margin: 0;
}
.home-wrapper{
  width: 400px;
  height: 200px;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(217,217,217);
  border-radius: 10px;
  padding: 30px;
}

.input-user{
  width: 100%;
  height: 35px;
  border-radius: 5px;
}

.content-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-between;
  position: relative;
}

.action-menu{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(217,217,217);
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.full-view{
  width: 100%;
  height: calc(100% - 300px);
  /* border: 1px solid rgb(217,217,217); */
  border-radius: 10px;
}

.videos-container{
  /* background-color: red; */
  width: 100%;
  height: 250px;
  /* position: absolute; */
  /* bottom: 0; */
  border: 1px solid rgb(217,217,217);
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  display: flex;
}

.video-thumbnail{
  width: 180px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 15px;
}

.name-user{
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.full-view video{
  width: 100%;
  height: 100%;
}

video{
  border: 1px solid rgb(217,217,217);
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 20px);
}

.left-content,.right-content{
  width: 200px;
  height: 80%;
  margin-top: 10%;
}

.center-content{
  width: calc(100% - 400px);
  height: 100%;
}

.friend-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  border: 1px solid rgb(222,222,222);
  padding: 5px;
  border-radius: 5px;
  /* padding-right: 26px; */
}

.alert-circle{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
}

.alert-circle.online{
  background-color: green;
}

.friend-name{
  color: grey;
  margin-left: 10px;
}

.friend-name.online{
  color:black;
}

.make-call,.new-call{
  position: absolute;
  width: 250px;
  height: 150px;
  border: 1px solid rgb(217,217,217);
  border-radius: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  background-color: white;
  z-index: 2;
}

.mask{
  z-index: 1;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.user-info{
  display: flex;
  align-items: center;
}

button {
    /* background-color: rgb(222,222,222);
    border: 1px solid rgb(217,217,217); */
    border-radius: 5px;
    cursor: pointer;
}

.active-room {
    width: 100%;
    height: calc(100% - 100px);
}

.chat-content{
  width: 100%;
  height: calc(100% - 60px);
  border: 1px solid rgb(222,222,222);
  border-radius: 10px;
}

.chat-send{
  width: 100%;
  height: 60px;
  display: flex;
}

.chat-input{
  width: calc(100% - 60px);
  height: 100%;
}

.send-button{
  width: 60px;
  height: 60px;
}

.chat-info{
  width: 100%;
  height: 60px;
  text-align: center;
  display: flex;
  line-height: 60px;
  align-items: center;
  justify-content: center;
}

.chat-msg-content{
  width: 100%;
  height: calc(100% - 60px);
  border-top: 1px solid rgb(222,222,222);
  padding: 10px;
  overflow: scroll;
}

.chat-item{
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.chat-item.guest{
  text-align: right;
}

.chat-item.me{
  text-align: left;
}

.time-chat {
    color: grey;
    font-size: 12px;
}

.text-chat {
    background-color: #c9d6c5;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    word-break: break-all;
}

.friend-avatar{
  width: 50px;
  height: 50px;
}

.friend-avatar img{
  width: 100%;
}